{% extends 'base.html.twig' %}

{% block title %}
	{{'forgotPassword.title'|trans([],'security')}}
{% endblock %}

{% block body %}
	<div class="mt-5 container-md">
		<div class="cardExtra">
			<div class="cardBox d-flex justify-content-center">
				<div class="col-md-10 col-lg-8 mt-3">
					<h1 class="h3 mb-3 font-weight-normal">{{'forgotPassword.title'|trans([],'security')}}</h1>
					{% if error %}
						{{ include('General/resultMessages.html.twig',{messages:error}) }}
					{% endif %}
					{{ include('General/websaleForm.html.twig',{form:form})}}
				</div>
			</div>
			<div class="extraMessage">
				{{'registration.haveAccount?'|trans({},'security')}}
				<a href="{{path('webLogin')}}">{{'signIn'|trans({},'security')}}</a>
				<i class="fas fa-chevron-right"></i>
			</div>
		</div>
	</div>
{% endblock %}
