{% extends 'base.html.twig' %}

{% block title %}
	{{ 'login.logInTitle'|trans([], 'security') }}
{% endblock %}

{% block body %}
	<div class="mt-5 container-md">
		<div class="cardExtra">
			<div class="cardBox d-flex justify-content-center">
				<div class="col-md-10 col-lg-8 mt-3">
					<h1 class="h3 mb-3 font-weight-normal">{{'login.title'|trans([],'security')}}</h1>
					{% if error %}
						{{ include('General/resultMessages.html.twig',{messages:error}) }}
					{% endif %}
					{{ include('General/sellerForm.html.twig',{form:form})}}
				</div>
			</div>
			<div class="extraMessage">
				{{'login.notSignUp?'|trans({},'security')}}
				<a href="{{path('app_registration',{returnTo:returnUrl})}}">{{'signUp'|trans({},'security')}}</a>
				<i class="fas fa-chevron-right"></i>
			</div>
		</div>
	</div>
{% endblock %}
