{% extends 'base.html.twig' %}
{% block title %}
	{{ 'login.logInTitle'|trans([], 'security') }}
{% endblock %}
{% block body %}
	{% set backgrounImage = deployed_status ? absolute_url(asset('Img/login.jpg')) : asset('Img/login.jpg') %}
	<div class="bgImg" data-image="{{ backgrounImage }}"></div>
	<div class="mt-5 {{ is_mobile() ? 'p-3' : 'p-5 d-flex justify-content-center' }} loginContainer">
		<div class="cardExtra {{ is_mobile() ? '' : 'col-9 pt-3' }}">
			<div class="cardBox d-flex justify-content-center">
				<div class="col-md-10 col-lg-12 mt-3">
					{{ include('Form/Type/registrationFlags.html.twig', {login: true}) }}
					<h1 class="h3 mb-3 font-weight-normal text-center">{{ 'login.logInTitle'|trans([],'security') }}</h1>
					{% if error %}
						{{ include('General/resultMessages.html.twig', { messages:error }) }}
					{% endif %}
					{{ include('General/sellerForm.html.twig', { form: form }) }}
				</div>
			</div>
			<div class="extraMessage d-flex justify-content-center pt-2">
				{{ 'login.notSignUp'|trans({},'security') }}
				&nbsp;&nbsp;
				<a href="{{ absolute_url(path('app_registration', { returnTo:returnUrl })) }}">{{ 'signUp.button'|trans({}, 'security') }}</a>
			</div>
			<div class="extraMessage d-flex justify-content-center pt-2">
				{{ 'login.forgotPass'|trans({}, 'security') }}
				&nbsp;&nbsp;
				<a href="{{ absolute_url(path('app_forgot_password_request')) }}">{{ 'login.clickHere'|trans({}, 'security') }}</a>
			</div>
		</div>
	</div>
{% endblock %}
