<div class="group" data-icon="{{ formVars.vars['attr']['data-icon'] |default('')}}">
	{% if formVars.vars['attr']['data-icon'] is defined %}
		<i class="{{formVars.vars['attr']['data-icon']}}"></i>
	{% endif %}
	{% if "choice" in formVars.vars.block_prefixes %}
		{{ form_label(formVars) }}
		{{ form_widget(formVars) }}
	{% else %}
		{{ form_row(formVars)}}
	{% endif %}
	{% if extraGroup is defined and extraGroup %}
		{% block extraGroup %}{% endblock %}
	{% endif %}
</div>
