<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# <link rel="icon" href="{{absolute_url(asset('Assets/General/images/websalesfav.png'))}}"> #}
		{% if deployed_status %}
			{{ include('stylesDeployed.html.twig') }}
			{{ include('Scripts/scriptsHeaderDeployed.html.twig') }}
		{% else %}
			{{ include('styles.html.twig') }}
			{{ include('Scripts/scriptsHeader.html.twig') }}
		{% endif %}

	</head>
	<body>
		{% block body %}{% endblock %}
		{% if deployed_status %}
			{{ include('Scripts/scriptsFooterDeployed.html.twig') }}
		{% else %}
			{{ include('Scripts/scriptsFooter.html.twig') }}
		{% endif %}

	</body>
</html>
